.bold{
  font-weight: bold;
}

.card {
  width: 100%;
  height:400px;

  border-radius: var(--border-radius);
  transition: background 400ms, border 400ms;
  text-align: left;
  overflow:hidden;
  background-color: var(--background-end-rgb);
  position: relative;
  box-shadow: 9px 9px 18px -2px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  position: relative;

}



.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  padding-top: 1rem;
  font-family: var(--font-sans-serif);
  font-weight: 600;
  margin-bottom: 0.7rem;
  font-size: 20px;
}

.card h4 {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: 14px;
}

.card p{

  opacity: 0.6;
  font-size: 1rem;
  text-wrap: balance;
  padding-bottom: 2rem;
  overflow: hidden;
}

.git {
  position:absolute;
  right:4rem;
  bottom:1rem;
}


.viewMore {
  padding: 0px;
  display: none;
}


.expand {
  cursor: pointer;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon{
  bottom: 2rem;
  right:0px;

}

.project{
  max-width: 100%;
  max-height:50%;
  top:0;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.projectDescription{
  position:relative;
  padding:0px 0px;
  padding-bottom: 4rem;

}

.projectDescription::before{
  position:absolute;
  width:100%;
  height:100%;
  transition: .8s;
}

.projectImage{
  object-fit: cover;
  width:100%;
  height:200px;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}

.previewImage{
  top:0;
  width:110%;
  height:auto;
  justify-content: center;
  align-items: center;
}

.seeMore {
  position: absolute;
  bottom: 1rem;
  left:10%;
  background: var(--dimension);
  background-image: linear-gradient(to bottom, transparent, var(--dimension));
  color: #333;
  text-align: center;
  filter:brightness(100%);
  transition: .4s;
}

.seeMore:hover{
  scale: 1.1;

}

.seeMoreContainer {
  position: absolute;
  width:100%;
  height:6rem;
  bottom: 0;
  left:0;

  background-image: linear-gradient(to bottom, transparent, var(--dimension) 60%);
  color: #333;
  text-align: center;
  filter:brightness(100%);
  transition: .4s;
}

.svg {
  width: 30px;
  height: 30px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.tooltip{
  position: absolute;
  font-size: 14px;
  background: #fff;
  color: var(--dark-shadow);
  padding: 5px 8px;
  border-radius: 5px;
  /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);*/
  opacity: 1;
  visibility: visible;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transition: ease-in .4s;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  }

}

/* Mobile */
@media (max-width: 600px) {
  .card{
    height:auto;
    padding-right: 0rem;
  }

  .card h2{
    padding-top: 1rem;
  }

  .projectImage{
    height: 30%;
  }
  .project {
    height:auto;
  }

}

/* Tablet */
@media (min-width: 600px) and (max-width: 800px){
  .card{
    padding:0rem;
  }
  .projectImage{
    height: 50%;
  }
  .project {
    height:auto;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 800px) and (max-width: 1100px) {

  .card{

  }
  .projectImage{
    height: 20%;
  }
  .project {
    height:auto;
  }
}
